    </section>
<script src="http://localhost:{{porta}}/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:{{porta}}/public/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script>
      // Mostrar e esconder os submenus
      const lista_titulos = document.querySelectorAll(".lista-titulo");
      lista_titulos.forEach((titulo) =>
        titulo.addEventListener("click", (event) => {
          //console.log(event.target);
          if (event.target.nextElementSibling.classList.contains("sublista")) {
            event.target.nextElementSibling.classList.toggle("desaparecer");
          }
        })
      );
      
    </script>
    {{#retorno_relatorio_eh_array}}
          <script>alert('Há casos que necessitam da sua atenção ! Por favor, verifique o relatório e a aba de alertas !');</script>
        {{/retorno_relatorio_eh_array}}
  </body>
</html>
