    </section>
    <div class='relogio-area'></div>
    <script src="http://localhost:{{porta}}/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:{{porta}}/public/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script>
      // Mostrar e esconder os submenus
      const lista_titulos = document.querySelectorAll(".lista-titulo");
      lista_titulos.forEach((titulo) =>
        titulo.addEventListener("click", (event) => {
          //console.log(event.target);
          if (event.target.nextElementSibling.classList.contains("sublista")) {
            event.target.nextElementSibling.classList.toggle("desaparecer");
          }
        })
      );
      const relogio_area = document.querySelector('.relogio-area');

      const showHours = () =>{
        const d = new Date();
        const hour = `${String(d.getHours()).padStart(2, '0')}`;
        const minutes = `${String(d.getMinutes()).padStart(2,'0')}`;
        const seconds = `${String(d.getSeconds()).padStart(2,'0')}`
        relogio_area.textContent=`${hour}:${minutes}:${seconds}`;
      }
      showHours();
      setInterval(showHours,1000);

      const descricoes_aviso = document.querySelectorAll('.descricao-aviso-recebido');

      descricoes_aviso.forEach(aviso =>{
        
        const lista = document.createElement('ul');
       
        const sublista = document.createElement('ul');
        const elementos = aviso.textContent.trim().split('-b-');
        aviso.textContent='';
        //console.log(elementos);
        //console.log('EI');
        elementos.forEach((e,i) =>{
          
          if(i ===0){
          const item = document.createElement('li');
          item.textContent=e;
          lista.appendChild(item);
          } else {
          const item = document.createElement('li');
          item.textContent=e;
          sublista.appendChild(item);
          }
        
        });
        lista.appendChild(sublista);
        aviso.appendChild(lista);
        //aviso.textContent = aviso.textContent.replace(/\-b-/g,'\n');
        //console.log(aviso.textContent)
      })

      </script>
      <script src='http://localhost:{{porta}}/public/sweetalert2/dist/sweetalert2.min.js'></script>
   
    {{#retorno_relatorio_valido_alerta}}
          <script>
          
          function disp() {
            Swal.fire({icon:'info', title:'Atenção',titleText:'Há casos que necessitam da sua atenção ! Por favor, verifique o relatório na página inicial e a aba de alertas !',showCloseButton:true});
          }
        disp();
          </script>
        {{/retorno_relatorio_valido_alerta}}
        {{#placa_errada}}
<script>
          
          function disp() {
            Swal.fire({icon:'alert', title:'Atenção',titleText:'O padrão da placa está errado ! Por favor, verifique novamente os dados.',showCloseButton:true});
          }
        disp();
          </script>
        {{/placa_errada}}
                {{#sucesso}}
<script>
          
          function disp() {
            Swal.fire({icon:'success',titleText:'Operação feita com sucesso !',showCloseButton:true});
          }
        disp();
          </script>
        {{/sucesso}}
        {{#enviado}}
        <script>
function disp() {
            Swal.fire({icon:'success',titleText:'Email enviado com sucesso !',showCloseButton:true});
          }
        disp();
        </script>
        {{/enviado}}
                {{#excluido}}
        <script>
function disp() {
            Swal.fire({icon:'success',titleText:'O email foi excluído da listagem !',showCloseButton:true});
          }
        disp();
        </script>
        {{/excluido}}

        {{#email_duplicado}}
        <script>
function disp() {
            Swal.fire({icon:'alert',titleText:'Email duplicado ! Por favor, registre outro !',showCloseButton:true});
          }
        disp();
        </script>
        {{/email_duplicado}}

        {{#senhas_diferentes}}
        <script>
        function disp() {
            Swal.fire({icon:'alert',titleText:'A confirmação da senha difere da senha ! Por favor, tente novamente',showCloseButton:true});
          }
        disp();
        </script>
        {{/senhas_diferentes}}
        {{#usuario_adicionado}}
        <script>
        function disp() {
            Swal.fire({icon:'success',titleText:'Usuário {{nome_usuario}} adicionado !',showCloseButton:true});
          }
        disp();
        </script>

        {{/usuario_adicionado}}
        {{#usuario_deletado}}
        <script>
        function disp() {
            Swal.fire({icon:'success',titleText:'Usuário {{nome_deletado}} deletado !',showCloseButton:true});
          }
        disp();
        </script>

        {{/usuario_deletado}}
        {{#update_proibido}}
        <script>
        function disp() {
            Swal.fire({icon:'alert',titleText:'Não é permitida a alteração de um usuário ADM !',showCloseButton:true});
          }
        disp();
        </script>
        {{/update_proibido}}
                {{#delete_proibido}}
        <script>
        function disp() {
            Swal.fire({icon:'alert',titleText:'Não é permitida a exclusão de um usuário ADM !',showCloseButton:true});
          }
        disp();
        </script>
        {{/delete_proibido}}

        <script src='./../../socket.io/socket.io.js'></script>
        <script>
          const socket = io();

          const sendRegularEmit = function () {
            setInterval(function () {
              //console.log("EIIIII");
              socket.emit("request_alert", true);
            }, 500);
          };

          sendRegularEmit();

          socket.on("send_alerts", (alerts) => {
            //const dadosAlerta = [].concat(alerts);
            console.log(alerts);
            if (alerts !== null) {
              let desc = `<div class='alerta-aviso' style='max-height:45vh; overflow-y:scroll'>`;
              let stringToDataBase = '';
              const objeto_para_telegram = []
              alerts.forEach((a) => {
                objeto_para_telegram.push({placa:a.placa,hora:a.hora,data:a.data,local_alerta: a.local_alerta, tipo:a.tipo, id_zona: parseInt(a.id_zona)});
                stringToDataBase += `Alerta:-b-Placa: ${a.placa.toUpperCase()}-b-Momento: ${a.data}, ${a.hora}-b-Local: ${a.local_alerta}-b-Caso: ${a.tipo}-b-`;
                desc += `-> Placa:${a.placa.toUpperCase()} <span style='color:red'>| </span> Momento: ${a.data}, ${a.hora} <span style='color:red'>| </span> Local: ${a.local_alerta} <span style='color:red'>| </span> Caso: ${a.tipo}<hr><br>`
                //alert(`Placa: ${a.placa.toUpperCase()} - Mais informações na aba de alertas`)
              });
              desc += '<br>Mais informações na aba de alertas !<br>';
              desc+='</div>'
              Swal.fire({html:`<h2>Novos casos que demandam sua atenção</h2><p style='text-align:center'>${desc}</p>`,showCloseButton:true});

              console.log(stringToDataBase);

              socket.emit('send_message',stringToDataBase);
              socket.emit('send_object_for_telegram',objeto_para_telegram);
            }
          });

        </script>
  </body>
</html>
