    </section>
<script src="http://localhost:{{porta}}/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:{{porta}}/public/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script>
      // Mostrar e esconder os submenus
      const lista_titulos = document.querySelectorAll(".lista-titulo");
      lista_titulos.forEach((titulo) =>
        titulo.addEventListener("click", (event) => {
          //console.log(event.target);
          if (event.target.nextElementSibling.classList.contains("sublista")) {
            event.target.nextElementSibling.classList.toggle("desaparecer");
          }
        })
      );
      </script>
      <script src='http://localhost:{{porta}}/public/sweetalert2/dist/sweetalert2.min.js'></script>
   
    {{#retorno_relatorio_eh_array}}
          <script>
          
          function disp() {
            Swal.fire({icon:'info', title:'Atenção',titleText:'Há casos que necessitam da sua atenção ! Por favor, verifique o relatório na página inicial e a aba de alertas !',showCloseButton:true});
          }
        disp();
          </script>
        {{/retorno_relatorio_eh_array}}
        {{#placa_errada}}
<script>
          
          function disp() {
            Swal.fire({icon:'alert', title:'Atenção',titleText:'O padrão da placa está errado ! Por favor, verifique novamente os dados.',showCloseButton:true});
          }
        disp();
          </script>
        {{/placa_errada}}
                {{#sucesso}}
<script>
          
          function disp() {
            Swal.fire({icon:'success',titleText:'Operação feita com sucesso !',showCloseButton:true});
          }
        disp();
          </script>
        {{/sucesso}}
        {{#enviado}}
        <script>
function disp() {
            Swal.fire({icon:'success',titleText:'Email enviado com sucesso !',showCloseButton:true});
          }
        disp();
        </script>
        {{/enviado}}
  </body>
</html>
