<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MONITORAMENTO DE ALERTAS</title>
    <link
      rel="icon"
      href="http://localhost:{{porta}}/public/img/icon_a5f231f799e7ef0588a474ff1d5caa23.ico"
    />
    <link rel='stylesheet' href='{{BOOTSTRAP_CSS}}'>
    <link rel='stylesheet' href='{{ESTILO_CSS}}'>
 
  </head>
  <body>
    <header class="header-fixed">
      <h1 class="font-weight-bold">Monitoramento de alertas</h1>
      <form action="/logout">
        <button href="" class="btn btn-danger">Sair</button>
      </form>
    </header>
    <section class="container-principal aside-header-fixed">
      <nav>
        <ul class="lista-menu">
          <div>
            <li class="lista-titulo"><a href="/home">TELA INICIal</a></li>
          </div>
          <div>
            <li class="lista-titulo">ALERTAS</li>
            <ul class="sublista desaparecer">
              <li>
                <a class="font-weight-bold" href="/veiculos_suspeitos"
                  >VEÍCULOS suspeitos</a
                >
              </li>
              <li>
                <a class="font-weight-bold" href="/veiculos_roubados"
                  >VEÍCULOS ROUBADOS</a
                >
              </li>
              <li>
                <a class="font-weight-bold" href="/veiculos_irregulares"
                  >VEÍCULOS EM SITUAÇÃO IRREGULAR</a
                >
              </li>
              <li>
                <a class="font-weight-bold" href="/veiculos_infracao"
                  >INFRAÇÃO DE TRÂNSITO</a
                >
              </li>
            </ul>
          </div>
          <div>
            <li class="lista-titulo">NOTAS</li>
            <ul class="sublista desaparecer">
              <li>
                <a href="/observacoes_pertinentes">Observações pertinentes</a>
              </li>
              <li><a href="/lista_afazeres">Lista de afazeres</a></li>
            </ul>
          </div>
          <div>
            <li class="lista-titulo">RECURSOS UTILITÁRIOS</li>
            <ul class="sublista desaparecer">
              <li>
                <a href="/avisos_externos">Avisos externos</a>
              </li>
              <li>
                <a href="/locais">Locais</a>
              </li>
              <li>
                <a href="/envio_de_aviso">Enviar aviso</a>
              </li>
            </ul>
          </div>
        </ul>
      </nav>