{{>partials/topo}}
<aside>
<div class="container">
  <div class="table-responsive d-block d-md-table">
    <table
      class="
        table-elemento
        table-infracao
        table
        table-hover
        table-striped
        table-bordered
        table-dark
      "
    >
      <caption>
        INFRAÇÃO DE TRÂNSITO
      </caption>
      <thead class="table-dark">
        <tr>
          <th>Dono</th>
          <th>Placa</th>
          <th>STATUS</th>
          <th>Nível de urgência</th>
          <th>Local de disparo do alerta</th>
          <th>Momento do disparo</th>
          <th>Gravidade da infração</th>
        </tr>
      </thead>
      <tbody>
              {{#listagem_eh_valida}}
          {{#listagem}}
          <tr>
            <td>{{dono}}</td>
            <td>{{placa}}</td>
            <td>{{status}}</td>
            <td>{{nivel_urgencia}}</td>
            <td>{{local_alerta}}</td>
            <td>{{hora}}, {{data}}</td>
            <td>{{gravidade_infracao}}</td>
          </tr>
          {{/listagem}}
        {{/listagem_eh_valida}}
      </tbody>
    </table>
  </div>
</div>
</aside>
{{>partials/fim}}