{{>partials/topo}}
<aside>
<h2 class="titulo-locais" style="margin-bottom: 15px">
  CONFIRA OS LOCAIS-ALVO
</h2>
<table class="tabela-locais">
  <!--
  <thead>
    <tr class="head-locais">
      <th>ID</th>
      <th>Local</th>
    </tr>
  </thead>
  <tbody>
    <tr class="registro-locais">
      <td>1</td>
      <td>Vale do Morro Vermelho Alto</td>
    </tr>
    <tr class="registro-locais">
      <td>2</td>
      <td>Quedas Quadrangulares</td>
    </tr>
  </tbody>
  -->
  {{#locais_validos}}

  {{/locais_validos}}
    {{^locais_validos}}
<strong style='margin-top:30px'>Não há itens na lista de locais</strong>
  {{/locais_validos}}
</table>
</aside>
{{>partials/fim}}