{{>partials/topo}}
<aside>
  <div>
    <a
      href="/zonas"
      style="margin-bottom: 5px; text-decoration: none; color: red"
      >VOLTAR</a
    >
  </div>
  <form
    method="POST"
    style="margin-bottom: 30%"
    class="crud-page"
    action="/insert_zona"
  >
    <label
      style="
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      "
    >
      Local:<br />
      <input
        type="text"
        style="text-align: left"
        class="form-control"
        name="zona"
        required
        placeholder="Digite o nome da zona"
      />
    </label>
    <input
      type="submit"
      class="btn btn-sm btn-block btn-primary"
      value="Enviar"
    />
  </form>
</aside>
{{>partials/fim}}
