{{>partials/topo}}
<aside>
<h2 class="titulo-locais" style="margin-bottom: 15px;text-align:center;font-size:21px">
  CONFIRA OS LOCAIS-ALVO (LOCAIS ESPECIALMENTE MONITORADOS NO MOMENTO)
</h2>
<div class="container">
<div class="table-responsive d-block d-md-table">
<table style='min-width:85%;' class="
        table-elemento
        table-infracao
        table
        table-hover
        table-striped
        table-bordered
        table-dark
      ">
  <!--
  <thead>
    <tr class="head-locais">
      <th>ID</th>
      <th>Local</th>
    </tr>
  </thead>
  <tbody>
    <tr class="registro-locais">
      <td>1</td>
      <td>Vale do Morro Vermelho Alto</td>
    </tr>
    <tr class="registro-locais">
      <td>2</td>
      <td>Quedas Quadrangulares</td>
    </tr>
  </tbody>
  -->
  {{#locais_validos}}
    <thead>
    <tr class="head-locais">
      <th>ID</TH>
      <th>NUMERAÇÃO</th>
      <th>Local</th>
    </tr>
  </thead>
   <tbody>
    {{#listagem}}
 <tr class="registro-locais">
      <td>{{id}}</td>
      <TD>{{index}}</td>
      <td>{{local}}</td>
    </tr>
    {{/listagem}}
    </TBODY>
  {{/locais_validos}}
  {{^locais_validos}}
    <strong style='margin-top:30px'>Não há itens na lista de locais</strong>
  {{/locais_validos}}
</table>
</div>
</div>
</aside>
{{>partials/fim}}