{{>partials/topo}}
<aside>
<form
  method="POST"
  class="form-mensagem"
  action='/mensagem'
  enctype="application/x-www-form-urlencoded"
>
  <label>
    <h2>Email do destinatário:</h2>
    <input
      autofocus
      placeholder="email@address.com"
      class="form-control"
      type="email"
      name='email'
    />
  </label>
  <label>
    <h2>Sua mensagem:</h2>
    <textarea
      class="form-control"
      class="mensagem-enviada"
      name="descricao"
    ></textarea>
  </label>
  <button class="btn btn-primary btn-md"  id="enviar_aviso">
    Enviar mensagem
  </button>
</form>
<ul>
  {{#avisos_enviados_validos}}

  {{/avisos_enviados_validos}}
  {{^avisos_enviados_validos}}
  <strong style='margin-top:30px'>Não há itens na lista de avisos enviados</strong>
  {{/avisos_enviados_validos}}
 
</ul>
</aside>
{{>partials/fim}}