{{>partials/topo}}
<aside>
<div class="container">
{{#usuario_adm}}<a href='/adicionar_infracao' style='color:rgb(8, 77, 8);font-weight:bold;text-transform:uppercase;text-decoration:none;text-align:left;width:77%'>Adicionar ocorrência</a>{{/usuario_adm}}
  <div class="table-responsive d-block d-md-table">
    <table
      class="
        table-elemento
        table-infracao
        table
        table-hover
        table-striped
        table-bordered
        table-dark
      "
    >
      <caption>
        INFRAÇÃO DE TRÂNSITO
      </caption>
      <thead class="table-dark">
        <tr>
          <th>Dono</th>
          <th>Placa</th>
          <th>STATUS</th>
          <th>Nível de urgência</th>
          <th>Local de disparo do alerta</th>
          <th>Momento do disparo</th>
          <th>Gravidade da infração</th>
          {{#usuario_adm}}<th>Editar</th>{{/usuario_adm}}
          {{#usuario_adm}}<th>Excluir</th>{{/usuario_adm}}
        </tr>
      </thead>
      <tbody>
              {{#listagem_eh_valida}}
          {{#listagem}}
          <tr>
            <td>{{dono}}</td>
            <td style='text-transform:uppercase;'>{{placa}}</td>
            <td>{{status}}</td>
            <td>{{nivel_urgencia}}</td>
            <td>{{local_alerta}}</td>
            <td>{{hora}}, {{data}}</td>
            <td>{{gravidade_infracao}}</td>
            {{#usuario_adm}}<td style='padding:20px;'><form action="/update_r_infracao_page/" method='GET'enctype="application/x-www-form-urlencoded" role='form'><input type='hidden' name='id_ultimo_editor' value='{{id_ultimo_editor}}'><input type='number' class='desaparecer' name='id-registro-infracao'value={{id}}><button class="btn btn-success"class='edicao-infracao'>↘</button></form></td>{{/usuario_adm}}
            {{#usuario_adm}}<td style='padding:20px;'><form action = '/delete_r_infracao/'method='post' enctype="application/x-www-form-urlencoded"><input type='number' class='desaparecer' name='id-registro-infracao' value={{id}}><button  class="btn btn-danger" class='exclusao-infracao'>x</button></form></td>{{/usuario_adm}}
          </tr>
          {{/listagem}}
        {{/listagem_eh_valida}}
      </tbody>
    </table>
  </div>
</div>
</aside>
{{>partials/fim}}