{{>partials/topo}}
<aside>
<div class="container">
{{#usuario_adm}}<a href='/adicionar_roubado' style='color:rgb(8, 77, 8);font-weight:bold;text-transform:uppercase;text-decoration:none;text-align:left;width:77%'>Adicionar ocorrência</a>{{/usuario_adm}}
  <div class="table-responsive d-block d-md-table">
    <table
      class="
        table-elemento
        table-roubados
        table
        table-striped
        table-hover
        table-bordered
        table-dark
      "
    >
      <caption>
        VEÍCULOS rOUBADOS
      </caption>
      <thead  class="table-dark">
        <tr>
          <th scope="col">DONO</th>
          <th scope="col">PLACA</th>
          <th scope="col">STATUS</th>
          <th scope="col">NÍVEL DE URGÊNCIA</th>
          <th scope="col">LOCAL DO ROUBO</th>
          <th scope="col">Momento do disparo</th>
          <th scope="col">LOCAL DE DISPARO DO ALERTA</th>
          {{#usuario_adm}}<th>Editar</th>{{/usuario_adm}}
          {{#usuario_adm}}<th>Excluir</th>{{/usuario_adm}}
        </tr>
      </thead>
      <tbody>
        {{#listagem_eh_valida}}
          {{#listagem}}
          <tr>
            <td>{{dono}}</td>
            <td>{{placa}}</td>
            <td>{{status}}</td>
            <td>{{nivel_urgencia}}</td>
            <td>{{local_roubo}}</td>
            <td>{{hora}}, {{data}}</td>
            <td>{{local_alerta}}</td>
            {{#usuario_adm}}<td style='padding:20px;'><form action="/update_r_roubado_page/" method='GET'enctype="application/x-www-form-urlencoded" role='form'><input type='number' class='desaparecer' name='id-registro-roubado'value={{id}}><button class="btn btn-success"class='edicao-roubado'>↘</button></form></td>{{/usuario_adm}}
            {{#usuario_adm}}<td style='padding:20px;'><form action = '/delete_r_roubado/'method='post' enctype="application/x-www-form-urlencoded"><input type='number' class='desaparecer' name='id-registro-roubado' value={{id}}><button  class="btn btn-danger" class='exclusao-roubado'>x</button></form></td>{{/usuario_adm}}
          </tr>
          {{/listagem}}
        {{/listagem_eh_valida}}
      </tbody>
    </table>
  </div>
</div>
</aside>
{{>partials/fim}}