{{>partials/topo}}
<aside>
<h2 class="titulo-aviso" style="margin-bottom: 30px;text-align:center;font-weight:bold;font-size:21px;padding-left:15px;padding-right:15px;">
  Confira suas mensagens recebidas:
</h2>
  <ul class="avisos-externos-lista">
  {{#listagem_eh_valida}}
  {{#listagem}}
  <li>
    <div class="numeracao">{{index}}</div>
    <p class="descricao-aviso-recebido">
      {{mensagem_recebida}}
    </p>
    <form method='post'action='/excluir_mensagem/'><input type='number' class='desaparecer' name='id-registro-observacao' value={{id}}><button class="btn btn-danger"">X</button></form>
  </li>
  {{/listagem}}
  {{/listagem_eh_valida}}
  {{^listagem_eh_valida}}
<strong style='margin-top:30px'>Não há itens na lista de avisos recebidos</strong>
  {{/listagem_eh_valida}}
</ul>
</aside>
{{>partials/fim}}