{{>partials/topo}}
<aside>
<div class="container">
  <div class="table-responsive d-block d-md-table">
    <table
      class="
        table-elemento
        table-irregulares
        table
        table-hover
        table-bordered
        table-striped
        table-dark
      "
    >
      <caption>
        VEÍCULOS EM SITUAÇÃO IRREGULAR
      </caption>
      <thead class="table-dark">
        <tr>
          <th>Dono</th>
          <th>placa</th>
          <th>status</th>
          <th>nível de urgência</th>
          <th>local de disparo do alerta</th>
          <th>Momento do disparo</th>
          <th>medida administrativa</th>
        </tr>
      </thead>
      <tbody>
                {{#listagem_eh_valida}}
          {{#listagem}}
          <tr>
            <td>{{dono}}</td>
            <td>{{placa}}</td>
            <td>{{status}}</td>
            <td>{{nivel_urgencia}}</td>
            <td>{{local_alerta}}</td>
            <td>{{hora}}, {{data}}</td>
            <td>{{medida_administrativa}}</td>
          </tr>
          {{/listagem}}
        {{/listagem_eh_valida}}
      </tbody>
    </table>
  </div>
</div>
</aside>
{{>partials/fim}}