{{>partials/topo}}
<aside>
<div class="container">
{{#usuario_adm}}<a href='/adicionar_suspeito' style='color:rgb(8, 77, 8);font-weight:bold;text-transform:uppercase;text-decoration:none;text-align:left;width:77%'>Adicionar ocorrência</a>{{/usuario_adm}}
  <div class="table-responsive d-block d-md-table">
    <table
      class="
        table-elemento
        table-suspeitos
        table
        table-hover
        table-striped
        table-bordered
       table-dark
      "
    >
      <caption>
        VEÍCULOS SUSPEITOS (combina com descrições, comportamento suspeito,
        etc.)
      </caption>
      <thead class="table-dark">
        <tr>
          <th>DONO</th>
          <th>PLACA</th>
          <th>STATUS</th>
          <th>NÍVEL DE URGÊNCIA</th>
          <th>Momento do disparo</th>
          <th>LOCAL DE DISPARO DO ALERTA</th>
          {{#usuario_adm}}<th>Editar</th>{{/usuario_adm}}
          {{#usuario_adm}}<th>Excluir</th>{{/usuario_adm}}
        </tr>
      </thead>
      <tbody>
        {{#listagem_eh_valida}}
          {{#listagem}}
          <tr>
            <td>{{dono}}</td>
            <td>{{placa}}</td>
            <td>{{status}}</td>
            <td>{{nivel_urgencia}}</td>
            <td>{{hora}}, {{data}}</td> 
            <td>{{local_alerta}}</td>
            {{#usuario_adm}}<td style='padding:20px;'><form action="/update_r_suspeito_page/" method='GET'enctype="application/x-www-form-urlencoded" role='form'><input type='number' class='desaparecer' name='id-registro-suspeito'value={{id}}><button class="btn btn-success"class='edicao-irregular'>↘</button></form></td>{{/usuario_adm}}
            {{#usuario_adm}}<td style='padding:20px;'><form action = '/delete_r_suspeito/'method='post' enctype="application/x-www-form-urlencoded"><input type='number' class='desaparecer' name='id-registro-suspeito' value={{id}}><button  class="btn btn-danger" class='exclusao-suspeito'>x</button></form></td>{{/usuario_adm}}
          </tr>
          {{/listagem}}
        {{/listagem_eh_valida}}
      </tbody>
    </table>
  </div>
</div>
</aside>
{{>partials/fim}}