{{>partials/topo}}
<aside>
<div class="container">
  <div class="table-responsive d-block d-md-table">
    <table
      class="
        table-elemento
        table-suspeitos
        table
        table-hover
        table-striped
        table-bordered
       table-dark
      "
    >
      <caption>
        VEÍCULOS SUSPEITOS (combina com descrições, comportamento suspeito,
        etc.)
      </caption>
      <thead class="table-dark">
        <tr>
          <th>DONO</th>
          <th>PLACA</th>
          <th>STATUS</th>
          <th>NÍVEL DE URGÊNCIA</th>
          <th>Momento do disparo</th>
          <th>LOCAL DE DISPARO DO ALERTA</th>
        </tr>
      </thead>
      <tbody>
        {{#listagem_eh_valida}}
          {{#listagem}}
          <tr>
            <td>{{dono}}</td>
            <td>{{placa}}</td>
            <td>{{status}}</td>
            <td>{{nivel_urgencia}}</td>
            <td>{{hora}}, {{data}}</td> 
            <td>{{local_alerta}}</td>
          </tr>
          {{/listagem}}
        {{/listagem_eh_valida}}
      </tbody>
    </table>
  </div>
</div>
</aside>
{{>partials/fim}}