/* GERAL*/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  overflow-x: hidden;
}
body {
  max-width: 1580px;
  background-color: rgb(255, 170, 0);
  margin: 0 auto;
}
h1 {
  margin: 0;
}
section {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  max-width: 1240px;
  max-height: auto;
  background-color: rgb(190, 199, 197);
}
header {
  color: #fff;
  max-width: 1580px;
  height: 10vh;
  width: 100vw;
  z-index: 9999;
  flex: 1;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /*background-color: rgb(54, 103, 194);*/
  background-color: rgb(2, 35, 90);
}

/* Relógio */
.relogio-area {
  font-size: 32px;
  font-style: italic;
  position: fixed;
  top: 16px;
  color: rgb(255, 170, 0);
  left: 16px;
  z-index: 10000;
}

header h1 {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
header form {
  flex: 1;
  display: flex;
  height: 100%;

  align-items: center;
}
header button {
  position: absolute;
  top: 30;
  padding: 6px;
  border: 1px solid rgb(241, 0, 0);
  border-radius: 3px;
  right: 40px;
  font-size: 17px;
  background-color: rgb(236, 15, 15);
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
header button:hover {
  background-color: rgb(148, 2, 2);
}
.aside-header-fixed {
  margin-top: 10vh;
}
.header-fixed {
  position: fixed;
}
section {
  display: flex;
  flex-direction: row;
  max-width: 1580px;
  width: 100vw;

  /*height: auto;*/
  /*
          justify-content: center;
          align-items: center;*/
}
nav {
  padding-top: 48px;
  min-height: 100%;
  max-height: auto;
  /* position: fixed;*/
  width: 25%;
  /*background-color: rgb(54, 103, 194);*/
  background-color: rgb(2, 35, 90);
  color: #fff;
}
aside {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;

  min-height: 100%;
  /*background-color: rgba(228, 218, 215, 0.897);*/
  background-color: rgba(180, 180, 180, 0.897);
  justify-content: center;
  align-items: center;
}
aside h1 {
  margin-bottom: 124px;
}
.alertas-home {
  display: flex;
  padding: 0;
  padding-top: 30px;
  flex-direction: row;
  justify-content: space-between;
}
.alertas-home .alert-success {
  width: 50%;
  border: 1px solid rgb(140, 199, 126);
}
.alertas-home .alert-danger {
  border: 1px solid rgb(223, 74, 74);
  width: 50%;
}
/* Área de menu*/
.lista-menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}
.lista-menu .lista-titulo a {
  text-decoration: none;
  color: #fff;

  display: block;
}
.lista-menu .lista-titulo:hover a {
  color: #000;
}
.sublista {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.desaparecer {
  display: none;
}
.sublista a {
  text-decoration: none;
  color: #fdf;
  transition: 0.1s all ease;
  display: block;
  padding: 8px 0;
  padding-left: 32px;
}
.sublista li a:hover {
  color: #000;
  background-color: #fff;
}
.lista-titulo {
  font-size: 19px;
  list-style: none;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;

  text-transform: uppercase;
  padding-bottom: 10px;
  width: 100%;
}
.lista-titulo:hover {
  color: #000;
  background-color: #fff;
}
/* Área aside && tabela*/

.lista-relatorio {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}
.lista-relatorio li {
  text-align: center;
  list-style: none;
  line-height: 35px;
}
.alerta-ocorrencia {
  border: 1px solid rgb(223, 74, 74);
  color: rgb(204, 22, 22);
  text-align: center;
  min-height: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.casos-atencao {
  color: rgb(255, 255, 255);
  background-color: rgb(145, 12, 12);
}
.casos-resolvidos {
  color: rgb(255, 255, 255);
  background-color: rgb(8, 77, 8);
}

.container table {
  margin: 0 auto;
  max-width: 90%;
  z-index: 10;
}
.table-elemento th,
td,
caption {
  /*border: 2.2px solid rgb(61, 80, 114);*/
  padding: 10px;
}
caption {
  background-color: #282d33;

  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  caption-side: top;
  z-index: 10;
}
.table-elemento th {
  text-transform: uppercase;
  color: #fff;
  /* background-color: rgb(58, 110, 206);*/
}
.table-elemento td {
  text-align: center;
}
.table-elemento td form {
  display: flex;
  padding: 0;
  margin-top: auto;
  height: 30px;
  justify-content: center;
}
.table-elemento td form button.btn-danger {
  width: 30px;
  height: 30px;
  background-color: rgb(241, 0, 0);
}
.table-elemento td form button.btn-success {
  width: 30px;
  height: 30px;
  background-color: rgb(8, 77, 8);
}
aside div {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  justify-content: flex-start;

  /*height: auto;*/
}
aside div h1 {
  color: rgb(2, 35, 90);
  font-weight: bolder;
  text-transform: uppercase;
}
img[alt="imagem_defesa_civil"] {
  width: 240px;
  margin: 24px auto;
}

/* FORM*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 15px 0;
  width: 100%;
}
form label {
  width: 40%;
}
form textarea {
  outline: none;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  resize: none;
  height: 150px;
}
form button,
input[type="submit"] {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(2, 35, 90);
}
/* ÁREA AVISOS */
.titulo-aviso,
.titulo-locais,
.area-update label .titulo-update {
  color: rgb(2, 35, 90);

  text-transform: uppercase;
}
.avisos-externos-lista,
.avisos-enviados-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.avisos-externos-lista li,
.avisos-enviados-lista li {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 18px;
}
.avisos-externos-lista form,
.avisos-enviados-lista form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.avisos-externos-lista form button,
.avisos-enviados-lista form button {
  margin-right: 10px;
}
.tabela-locais th,
.avisos-externos-lista .numeracao,
.avisos-externos-lista .numeracao,
.numeracao,
.lista-tarefa .id-tarefa,
.lista-observacao .id-observacao {
  background-color: rgb(2, 35, 90);
  color: #fff;
}

.avisos-externos-lista .numeracao,
.avisos-enviados-lista .numeracao {
  padding: 15px;
  height: 60px;
  flex: 1;

  border: 1px solid rgb(2, 35, 90);
}
.exclusao-aviso {
  overflow: hidden;
}
.avisos-externos-lista .descricao-aviso,
.avisos-externos-lista .descricao-aviso-recebido,
.avisos-enviados-lista .descricao-aviso {
  height: auto;

  padding: 7px;
  background-color: #fff;
  border: 1px solid rgb(212, 206, 205);
}
.exclusao-aviso,
.exclusao-tarefa,
.exclusao-observacao {
  color: #fff;
  padding: 5px;
  background-color: #f00;

  height: 30px;
  cursor: pointer;
}
/* ÁREA LOCAIS*/
.tabela-locais {
  border-collapse: collapse;
  width: 40%;
}
.tabela-locais td,
.tabela-locais th {
  /*border: 1px solid #ccc;*/
  padding: 8px;
}
.tabela-locais td {
  background-color: #fff;
  text-align: center;
}
/* ÁREA ENVIO DE AVISO*/

.form-mensagem {
  height: auto;
  color: rgb(2, 35, 90);
  width: 100%;
  text-transform: capitalize;
  padding-left: 10%;
  align-items: flex-start;
}
.form-mensagem h2,
.form-mensagem button {
  text-transform: capitalize;
}
.form-mensagem button {
  border-radius: 8%;
  outline: none;
  border: none;
  background-color: rgb(6, 44, 110);
  margin-bottom: 25px;
}
.form-mensagem button:hover {
  background-color: rgb(2, 35, 90);
}
.form-mensagem label {
  width: 80%;
  margin-bottom: 25px;
}
.form-mensagem .mensagem-enviada {
  width: 40%;
  height: 250px;
  border-radius: 4%;
  padding: 10px;
  border: none;
}
.form-mensagem input[type="email"] {
  outline: none;
  width: 80%;
  border-radius: 4%;
  padding: 10px;
  border: none;
}
/* ÁREA TAREFAS */
.form-tarefas label {
  color: rgb(2, 35, 90);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.form-tarefas,
.form-observacoes {
  height: auto;
  padding: 15px 0;
}

.form-tarefas textarea,
.form-observacoes textarea {
  border-radius: 3%;
  outline: none;
  border: none;
  padding: 8px;
}
.form-tarefas button,
.area-update input,
.form-observacoes button {
  border-radius: 8%;
  outline: none;
  border: none;
}
.lista-tarefa,
.lista-observacao {
  color: #fff;
  width: 90%;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.item-tarefa,
.item-observacao {
  display: flex;
  padding: 8px;
  width: 90%;

  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  height: auto;
  overflow-y: hidden;
}
.item-tarefa p,
.item-observacao p {
  flex: 6;
  border-radius: 2%;
}
.item-tarefa div,
.item-observacao div {
  font-size: 15px;
}
.item-tarefa form,
.item-observacao form {
  flex: 1;
}
.item-tarefa div,
.item-tarefa form,
.item-tarefa p {
  width: auto;
  height: auto;
  margin-right: 10px;
  padding: 8px;
}
.lista-tarefa form button,
.lista-observacao form button {
  font-size: 7;
  font-size: 10px;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.lista-tarefa .id-tarefa,
.lista-observacao .id-observacao {
  height: 32px;
  line-height: 32px;
  border-radius: 8%;
  width: 32px;
  padding: 3px;
  margin-right: 10px;
}
.lista-tarefa .desc-tarefa,
.lista-observacao .desc-observacao {
  padding: 8px;
  background-color: #ccc;
  border-radius: 3%;
  padding: 5px;
  color: #000;
}
.lista-tarefa .item-tarefa form .edicao-tarefa,
.lista-observacao .item-observacao form .edicao-observacao,
.table-elemento form button {
  background-color: green;
  font-size: 11px;
  padding: 0;
}
/*crud page*/
.crud-page label {
  margin-bottom: 10px;
}
.crud-page input[type="submit"] {
  margin-top: 8px;
}
/* ÁREA DE UPDATE*/
.area-update {
  display: flex;
  flex-direction: column;
  height: auto;
  width: inherit;
  background-color: inherit;
  max-width: auto;
  min-height: auto;
  justify-content: center;
}
.area-update textarea {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 3%;
}
.area-update form {
  height: auto;
  margin-top: 25px;
}
.area-update a {
  display: block;
  color: rgb(184, 42, 42);
  font-size: 18px;
  padding: 0;
  margin: 20px 0;
  text-decoration: none;
  font-weight: bold;
}
.area-update div {
  padding: 0;
}
/* OBSERVAÇÕES */

.form-observacoes label {
  color: rgb(2, 35, 90);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.form-observacoes button {
  border-radius: 8%;
  outline: none;

  border: none;
}
.form-observacoes ul li form {
  margin-top: 0;
  overflow-y: hidden;
  font-size: 5px;
}
.form-observacoes textarea {
  border-radius: 3%;
  outline: none;
  border: none;
  padding: 8px;
}
@media only screen and (max-width: 720px) {
  .relogio-area {
    top: 70px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 1100px) {
  section.container-principal {
    flex-direction: column;
  }
  header {
    border-bottom: calc(2px - 1.6px) solid #fdf;
  }
  .relogio-area {
    font-size: 24px;
  }
  nav {
    width: 100%;
    padding-bottom: 0;
  }
  nav div {
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  header button {
    font-size: 13px;
    padding: 4px;
  }
  aside {
    width: 100%;
    min-height: 75vh;
    max-height: auto;
  }
  .alertas-home {
    flex-direction: column;
    padding: 0;
  }
  .alertas-home .alert-success,
  .alertas-home .alert-danger {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-height: 50%;
  }
  nav .lista-menu {
    flex-direction: row;
    padding-bottom: 0;
  }
  .table-elemento {
    min-width: 20vw;
    width: 100%;
  }
  .sublista a,
  .lista-titulo {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  .lista-titulo {
    font-size: 19px;
  }
  .lista-titulo,
  .sublista {
    margin-bottom: 0;
  }
  .alerta-ocorrencia {
    max-width: 80%;
  }
}
@media only screen and (min-width: 210px) and (max-width: 300px) {
  section.container-principal {
    flex-direction: column;
  }
  header {
    border-bottom: calc(2px - 1.6px) solid #fdf;
  }

  nav {
    width: 100%;
    padding-bottom: 0;
  }
  nav div {
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  header {
    justify-content: space-between;
  }
  header h1 {
    font-size: 13px;
    flex: 1;
  }
  header button {
    position: static;
    flex: 1;
  }
  aside {
    width: 100%;
    min-height: 75vh;
    max-height: auto;
  }
  .alertas-home {
    flex-direction: column;
  }
  .alertas-home .alert-success,
  .alertas-home .alert-danger {
    width: 100%;
    min-height: 50%;
  }
  nav .lista-menu {
    flex-direction: row;
    padding-bottom: 0;
  }
  .table-elemento {
    min-width: 20vw;
    width: 100%;
  }
  .sublista a,
  .lista-titulo {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  .lista-titulo {
    font-size: 19px;
  }
  .lista-titulo,
  .sublista {
    margin-bottom: 0;
  }
  .alerta-ocorrencia {
    max-width: 80%;
  }
}
