/* GERAL*/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  overflow-x: hidden;
}
body {
  max-width: 1580px;
  margin: 0 auto;
}
h1 {
  margin: 0;
}
section {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  max-width: 1240px;
  max-height: auto;
  background-color: rgb(190, 199, 197);
}
header {
  color: #fff;
  max-width: 1580px;
  height: 10vh;
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(54, 103, 194);
}
section {
  display: flex;
  flex-direction: row;
  max-width: 1580px;
  width: 100vw;
  /*height: auto;*/
  /*
          justify-content: center;
          align-items: center;*/
}
nav {
  padding-top: 48px;
  min-height: 100%;
  max-height: auto;
  /* position: fixed;*/
  width: 30%;
  background-color: rgb(54, 103, 194);
  color: #fff;
}
aside {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  min-height: 100%;
  background-color: rgba(228, 218, 215, 0.897);
  justify-content: center;
  align-items: center;
}
/* Área de menu*/
.lista-menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}
.lista-menu .lista-titulo a {
  text-decoration: none;
  color: #fff;

  display: block;
}
.lista-menu .lista-titulo:hover a {
  color: #000;
}
.sublista {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.desaparecer {
  display: none;
}
.sublista a {
  text-decoration: none;
  color: #fdf;

  display: block;
  padding: 8px 0;
  padding-left: 32px;
}
.sublista li a:hover {
  color: #000;
  background-color: #fff;
}
.lista-titulo {
  font-size: 19px;
  list-style: none;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;

  text-transform: uppercase;
  padding-bottom: 10px;
  width: 100%;
}
.lista-titulo:hover {
  color: #000;
  background-color: #fff;
}
/* Área aside && tabela*/
.table-elemento {
  /*border: 1px solid black;*/
  border-collapse: collapse;
  width: 60vw;
}
.table-elemento th,
td,
caption {
  border: 2.2px solid rgb(61, 80, 114);
  padding: 10px;
}
caption {
  background-color: rgb(58, 110, 206);
  color: #fff;
  font-weight: bold;
}
.table-elemento th {
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(58, 110, 206);
}
aside div {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
aside div h1 {
  color: rgb(2, 35, 90);
  font-weight: bolder;
  text-transform: uppercase;
}
img[alt="imagem_defesa_civil"] {
  width: 330px;
  margin: 24px auto;
}
/*tabela*/
.table-elemento td button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: green;
}
.table-elemento tr td:last-child {
  display: flex;
  justify-content: center;
}

/* FORM*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}
form label {
  width: 40%;
}
form textarea {
  outline: none;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  resize: none;
  height: 150px;
}
form button {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(54, 103, 194);
}
/* ÁREA AVISOS */
.titulo-aviso,
.titulo-locais {
  color: rgb(54, 103, 194);
  text-transform: uppercase;
}
.avisos-externos-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.avisos-externos-lista li {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 18px;
}
.tabela-locais th,
.avisos-externos-lista .numeracao,
.lista-tarefa .id-tarefa {
  background-color: rgb(54, 103, 194);
  color: #fff;
}

.avisos-externos-lista .numeracao {
  padding: 15px;
  height: 60px;
  flex: 1;

  border: 1px solid rgb(42, 92, 184);
}
.avisos-externos-lista .descricao-aviso {
  height: auto;

  padding: 7px;
  background-color: #fff;
  border: 1px solid rgb(212, 206, 205);
}
.exclusao-aviso,
.exclusao-tarefa {
  color: #fff;
  padding: 5px;
  background-color: #f00;
  display: block;
  height: 30px;
  cursor: pointer;
}
/* ÁREA LOCAIS*/
.tabela-locais {
  border-collapse: collapse;
  width: 40%;
}
.tabela-locais td,
.tabela-locais th {
  border: 1px solid #ccc;
  padding: 8px;
}
.tabela-locais td {
  background-color: #fff;
  text-align: center;
}
/* ÁREA ENVIO DE AVISO*/

.form-mensagem {
  height: auto;
  color: rgb(42, 92, 184);
  width: 100%;
  text-transform: capitalize;
  padding-left: 10%;
  align-items: flex-start;
}
.form-mensagem h2,
.form-mensagem button {
  text-transform: capitalize;
}
.form-mensagem button {
  border-radius: 8%;
  outline: none;
  border: none;
}
.form-mensagem label {
  width: 100%;
}
.form-mensagem .mensagem-enviada {
  width: 48%;
  height: 250px;
  border-radius: 4%;
  padding: 10px;
  border: none;
}
.form-mensagem input[type="email"] {
  outline: none;
  width: 38%;
  border-radius: 4%;
  padding: 10px;
  border: none;
}
/* ÁREA TAREFAS */
.form-tarefas label {
  color: rgb(54, 103, 194);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.form-tarefas textarea {
  border-radius: 3%;
  outline: none;
  border: none;
  padding: 8px;
}
.form-tarefas button {
  border-radius: 8%;
  outline: none;
  border: none;
}
.lista-tarefa {
  color: #fff;
  width: 80%;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.item-tarefa {
  display: flex;
  padding: 8px;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  height: auto;
  overflow-y: hidden;
}
.item-tarefa p {
  flex: 6;
  border-radius: 2%;
}

.item-tarefa form {
  flex: 1;
}
.item-tarefa div,
.item-tarefa form,
.item-tarefa p {
  width: auto;
  height: auto;
  margin-right: 10px;
  padding: 8px;
  height: 100%;
}
.lista-tarefa form button {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}
.lista-tarefa .id-tarefa {
  height: 32px;
  line-height: 32px;
  border-radius: 8%;
  width: 32px;
  padding: 0;
}
.lista-tarefa .desc-tarefa {
  padding: 8px;
  background-color: #fff;
  color: #000;
}

/* OBSERVAÇÕES */
.form-observacoes label {
  color: rgb(54, 103, 194);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.form-observacoes button {
  border-radius: 8%;
  outline: none;
  border: none;
}
.form-observacoes textarea {
  border-radius: 3%;
  outline: none;
  border: none;
  padding: 8px;
}
