<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="http://localhost:8005/public/bootstrap_css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="http://localhost:8005/public/css/login.css" />
    <title>LOGIN</title>
  </head>
  <body>
    <div class="area-container-login">
      <div class="area-login">
        <img
          src="http://localhost:8005/public/img/defesa_civil_repr.png"
          alt="logo - símbolo da segurança civil"
        />
        <h2>Faça o login</h2>

        <form action="/login" method="POST">
          <input
            type="text"
            name="email_nome"
            id="email_nome"
            placeholder="Digite seu email ou usuário"
            class="form-control"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Digite sua senha"
            class="form-control"
          />

          <label class="remember">
            <input type="checkbox" name="remember" id="remember" value="1" />
            Lembrar minha senha
          </label>

          <div class="d-grid gap-2">
            <input
              type="submit"
              value="Entrar"
              class="btn btn-lg btn-block btn-primary"
            />
          </div>
          <p class="gray padding">2021</p>
        </form>
      </div>
    </div>
    <script src="http://localhost:8005/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:8005/public/bootstrap_js/bootstrap.bundle.min.js"></script>
  </body>
</html>
