<h2 class="titulo-aviso">Confira suas mensagens recebidas:</h2>
<ul class="avisos-externos-lista">
  <li>
    <div class="numeracao">1</div>
    <p class="descricao-aviso">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
      facilis similique labore dolore voluptatem! Nostrum itaque repellendus
      laudantium nemo aspernatur officia voluptas quos, doloremque perferendis,
      corrupti, alias in facilis tempore!
    </p>
    <form><button class="exclusao-aviso">X</button></form>
  </li>
  <li>
    <div class="numeracao">2</div>
    <p class="descricao-aviso">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
      facilis similique labore dolore voluptatem! Nostrum itaque repellendus
      laudantium nemo aspernatur officia voluptas quos, doloremque perferendis,
      corrupti, alias in facilis tempore!
    </p>
    <form><button class="exclusao-aviso">X</button></form>
  </li>
  {%AVISOS%}
</ul>
